@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --naranja: #FF416C;
  --negro-claro: #333;
  --blanco: #FFFFFF;
  --gris-claro: #eee;
  --rojo-claro: #FF416C;
}

.tituloForm {
  font-weight: bold;
  margin: 0;
}

.parrafo {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.olvidoPass {
  color: var(--negro-claro);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.olvidoPass:hover {
  color: var(--naranja);
}

.btnLog {
  border-radius: 20px;
  border: 1px solid var(--naranja);
  background-color: var(--naranja);
  color: var(--blanco);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btnLog:hover {
  background-color: var(--rojo-claro);
  transform: scale(1.1);
}

.btnLog:active {
  transform: scale(0.95);
}

.btnLog:focus {
  outline: none;
}

.formulario {
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.inputBox {
  background-color: var(--gris-claro);
  border: none;
  padding: 12px 15px;
  margin: 15px 0;
  width: 100%;
  color: var(--negro-claro);
  font-size: 14px;
}

.inputBox:hover {
  border: 0.5px solid var(--negro-claro);
}

.mainContainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Esto asegura que ocupe toda la altura de la ventana */
}

.formContainer {
  position: relative;
  width: 100%;
  max-width: 400px; /* Limita el ancho del formulario */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 40px; /* Agrega padding para un mejor espaciado */
  /* Asegúrate de que el fondo sea blanco */
}

/* Estilo para contenedor de redes sociales */
.socialContainer {
  margin: 20px 0;
}

.socialContainer .social {
  border: 2px solid var(--gris-claro);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: var(--naranja);
}

.social:hover {
  color: var(--rojo-claro);
  transform: scale(1.2); /* Zoom al hacer hover */
}
