/* FormEmpleado.css */
.container1 {
  display: flex;
  flex-direction: column;
  max-width: 1000px; /* Aumenta el ancho máximo para que el card sea más ancho */
  margin: 2rem auto; /* Mantiene el card centrado horizontalmente */
  padding: 50px; /* Padding más amplio */
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%; /* Mantén el 100% para que los inputs se ajusten al nuevo ancho */
  max-width: 900px; /* Aumenta el ancho máximo de los inputs */
  margin-bottom: 20px;
  padding: 12px; /* Padding interno más amplio */
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid #d1d1d1;
  transition: border-color 0.3s;
}

.button {
  padding: 12px; /* Aumenta el padding del botón */
  font-size: 20px; /* Aumenta el tamaño de la fuente */
  background-color: #FF416C;
  color: #e6e8ee;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #78d4e0;
  transform: scale(1.05);
}
